*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    overflow-x: hidden;
}
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.desativado{
    pointer-events: none;
}
.azul{
    color: #2916E0 !important;
}
a{
    text-decoration: none;
    color: #0f0f0f;
}
main{
    display: grid;
    width: 100vw;
    height: 100vb;
    grid-template-columns: 100px 1fr;
}
/* Menu */
nav{
    height: 100vb;
    background-color: rgb(255, 255, 255);
    position: relative;

    #menu-check{
        position: absolute;
            left: 35%;
            top: 2%;
        width: 30%;
        height: 5vb;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }
    #menu-check:checked~aside{
        left: 0;
    }
    .menu{
        height: 10%;
        width: 100px;
        background-color: #0f0f0f;
        text-align: center;
        i{
            color: white;
            font-size: 2rem;
            line-height: 270%;
        }
    }
    ul{
        text-align: center;
        width: 100%;
        margin-top: 250%;
        li{
            margin-bottom: 50%;
            font-size: 1.3rem;
        }
    }
    aside{
        width: 15vw;
        height: 100vb;
        background-color: white;
        position: absolute;
            top: 0;
            left: -300%;
        transition: all 0.5s;
        z-index: 1;
        .aside-grid{
            display: grid;
            grid-template-columns: 100px 1fr;
            div:first-child{
                height: auto;
            }
            div:last-child{
                background-color: #2916E0;
                text-align: center;
                img{
                    margin-top: 17%;
                }
            }
        }
        ul{
            margin-top: 90%;
            li{
                margin-bottom: 1%;
                font-size: 2rem;
                a{
                    color: #b2b2b2 !important;
                    transition: 0.5s;
                }
                a:hover{
                    color: #2916E0 !important;
                }
            }
        }
        ul:last-child{
            margin-top: 30%;
            width: 100%;
            
            li{
                display: inline-block;
                font-size: 1.2rem;
                width: 10%;
                margin-right: 7%;
            }
        }
    }
}

